body {
  background-color: #eeeeee;
}

#main-container {
  width: 970px;
  max-width: 970px;
  padding: 20px;
  margin-top: 40px;
  background-color: #fff;
}

h2 {
  font-size: 16px;
}

a {
  color: #4d90fe;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.online-user h2 {
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 20px;
  margin: 0;
  color: #666;
}

.online-user .users_list {
  height: 400px;
  padding: 0;
  margin-bottom: 0;
  overflow-y: auto;
  list-style: none;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d8d8d8;
}

.online-user .users_list li {
  line-height: 20px;
}

.online-user .users_list li a {
  display: block;
  min-height: 46px;
  padding: 8px 15px 0 20px;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
  text-overflow: ellipsis;
  text-shadow: none;
  border-right: 2px solid transparent;
  -webkit-transition: border 0.218s;
     -moz-transition: border 0.218s;
       -o-transition: border 0.218s;
          transition: border 0.218s;
}

.online-user .users_list li a img {
  margin-right: 4px;
  border-radius: 4px;
}

.online-user .users_list li a .badge {
  margin-top: 8px;
}

.online-user .users_list li.online a {
  padding-left: 20px;
}

.online-user .users_list li.online a i.fa-circle-o {
  padding-right: 8px;
  font-size: 10px;
  color: green;
}

.online-user .users_list li.last a {
  border-bottom: 0 none;
}

.online-user .users_list li a:hover,
.online-user .users_list li a:focus,
.online-user .users_list li.active a:hover {
  color: #262626;
  text-shadow: none;
  background-color: #fff;
  border-right-color: #427fed;
}

.online-user .users_list li.active a,
.online-user .users_list li.active a:focus {
  color: #262626;
  text-shadow: none;
  background-color: #fff;
  border-right-color: #427fed;
}

.chat-container {
  margin: 0;
  border: 1px solid #d8d8d8;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.chat-container .profile {
  padding: 15px 20px;
  overflow: hidden;
  border-bottom: 1px solid #d5d5d5;
}

.chat-container .profile img {
  float: left;
}

.chat-container .profile .cont {
  margin-top: -4px;
  margin-left: 60px;
  overflow: hidden;
}

.chat-container .profile .cont .ops {
  float: right;
  margin-top: 4px;
  font-size: 13px;
}

.chat-container .profile .cont p {
  margin: 0;
}

.chat-container .profile .cont .screen_name {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.chat-container .profile .cont .desc {
  color: #999;
}

.chat-container .col-md-3,
.chat-container .col-md-9 {
  float: left;
  padding-right: 0;
  padding-left: 0;
}

.chat-container .col-md-3 {
  width: 232px;
  height: 780px;
  background-color: #f5f5f5;
  border-right: 1px solid #d8d8d8;
}

.chat-container .col-md-9 {
  width: 696px;
}

.chat-container .col-md-9 .chat-msg-container {
  display: none;
}

.chat-container .chat-msg-panel,
.chat-container .chat-msg-history {
  height: 600px;
  overflow-y: auto;
  border-bottom: 1px solid #d8d8d8;
}

.chat-container .chat-msg-panel ul,
.chat-container .chat-msg-history ul {
  padding: 0;
  list-style: none;
}

.chat-container .chat-msg-panel ul li.sysInfo,
.chat-container .chat-msg-history ul li.sysInfo {
  font-size: 13px;
  background-color: #f5f5f5;
}

.chat-container .chat-msg-panel ul li.sysInfo p,
.chat-container .chat-msg-history ul li.sysInfo p {
  margin: 0;
}

.chat-container .chat-msg-panel ul li,
.chat-container .chat-msg-history ul li {
  padding: 10px 20px;
}

.chat-container .chat-msg-panel ul li .avatar,
.chat-container .chat-msg-history ul li .avatar {
  float: left;
  padding-right: 10px;
}

.chat-container .chat-msg-panel ul li .cont,
.chat-container .chat-msg-history ul li .cont {
  margin-left: 0;
}

.chat-container .chat-msg-panel ul li .cont h3,
.chat-container .chat-msg-history ul li .cont h3 {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.chat-container .chat-msg-panel ul li .cont span.time,
.chat-container .chat-msg-history ul li .cont span.time {
  margin-left: 10px;
  color: #999;
}

.chat-container .chat-msg-panel ul li .cont p,
.chat-container .chat-msg-history ul li .cont p {
  margin-top: 4px;
  margin-bottom: 0;
  color: #666;
}

.chat-container .chat-msg-panel ul li .cont p img,
.chat-container .chat-msg-history ul li .cont p img {
  margin-right: 2px;
}

.chat-container .chat-msg-panel ul li.first,
.chat-container .chat-msg-history ul li.first {
  padding-top: 15px;
}

.chat-container .chat-msg-panel ul li.last,
.chat-container .chat-msg-history ul li.last {
  padding-top: 15px;
}

.chat-container .chat-msg-panel ul li.self,
.chat-container .chat-msg-history ul li.self {
  background-color: #f5f5f5;
}

.chat-container .chat-msg-history {
  height: 698px;
  overflow-y: visible;
  border-bottom: 0 none;
}

.chat-container .chat-msg-history p.header {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
}

.chat-container .chat-msg-history ul {
  height: 650px;
  overflow-y: auto;
}

.chat-container .chat-msg-editor {
  height: 100px;
  padding: 15px;
  background-color: #f5f5f5;
}

.chat-container .chat-msg-editor p {
  color: #737373;
  visibility: hidden;
}

.chat-container .chat-msg-editor a.emotions_popover {
  float: left;
  padding: 2px 10px 0 0;
  color: #666;
}

.chat-container .chat-msg-editor a.emotions_popover .fa-smile-o {
  width: 24px;
  font-size: 28px;
}

.chat-container .chat-msg-editor a.emotions_popover:hover,
.chat-container .chat-msg-editor a.emotions_popover.hovered {
  color: #EBD100;
}

.chat-container .chat-msg-editor .emotions_list {
  width: 226px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.chat-container .chat-msg-editor .emotions_list li {
  float: left;
  padding: 3px;
}

.chat-container .chat-msg-editor .form-group {
  float: left;
  width: 578px;
  padding-right: 15px;
}